.navbar {
    position: static;
    overflow: hidden;
    margin: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #E2F0EF;
}

.logo img {
    width: 9.375rem;
}

.nav-items {
    display: flex;
}

.ul-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.ul-items li {
    padding: 0rem 2.5rem;
}