@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    background: rgb(29,120,112);
    background: radial-gradient(circle, rgba(29,120,112,1) 0%, rgba(17,85,79,1) 100%);
    color: #E2F0EF;
}

main {
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside-right {
    background-color: #30BEB2;
    border-radius: 20px;
}

.svg img {
    width: 400px;
}

.icons {
    display: flex;
    justify-content: center;
}

.background-icons {
    background-color: #E2F0EF;
    width: 2.6rem;
    height: 2.6rem;
    fill: #1D7870;
    transition: 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 3%;
    border-radius: 100px;
}

.background-icons:hover {
    background-color: #1D7870;
    fill: #E2F0EF;
}

.titulo {
    font-weight: 600;
    font-size: 2rem;
}

.input-nome input, .input-email input {
    border: 1px solid #E2F0EF;
    border-radius: 5px;
    background-color: #E2F0EF;
    color: #1D7870;
    width: 500px;
    height: 30px;
    padding-left: 10px;
    font-weight: 600;
}

.input-nome input, .input-email input {
    outline: none;
}

.input-detalhes textarea {
    border: 1px solid #E2F0EF;
    border-radius: 5px;
    background-color: #E2F0EF;
    color: #1D7870;
    width: 500px;
    height: 120px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
    resize: none;
}

.input-detalhes textarea {
    outline: none;
}

.botao-enviar {
    width: 200px;
    height: 40px;
    background-color: #30BEB2;
    border: none;
    border-radius: 5px;
    color: #E2F0EF;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease-out;
}

.botao-enviar:hover {
    background-color: #E2F0EF;
    color: #1D7870;
    transition: 0.3s;
}