.fundo-cartoes {
    justify-content: space-between;
    width: 81.25%;
}

.cartao {
    width: 16rem;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0.625%;
    background-color:#2D3037 ;
}
.informacoes {
    text-align: center;
    color: #E2F0EF;
}

.informacoes p {
    line-height: 0.5;
}


.titulo {
    font-weight: bold;
    font-size: 1.6em;
}

.subtitulo {
    font-size: 1.2em;
}