.agregando-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-principal {
    font-size: 2em;
    font-weight: 700;
    grid-area: texto-principal;
}

.texto-verde {
    color: #1D7870;
    font-weight: 600;
    text-align: justify;
}

.texto-branco {
    color: #E2F0EF;
    font-weight: 600;
    text-align: justify;
}

.img-home-index {
    justify-self: start;
    align-self: center;
    grid-area: img-home-index;
}

.img-home-index img {
    max-width: 500px;
    width: 100%;
}

.texto-home {
    max-width: 500px;
    width: 100%;
}

.div-home {
    height: 100vh;
    padding: 0% 10% 5%;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "texto-principal img-home-index";
}

.sections-home {
    padding: 10% 15%;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 5% 0%;
    grid-template-areas:
        "titulo-index"
        "div-abaixo";
}

.div-img-right, .div-img-left {
    grid-area: div-abaixo;
}

.div-img-right {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
    grid-template-areas: "texto-home-left img-home-right";
}

.div-img-left {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
    grid-template-areas: "img-home-left texto-home-right";
}

.titulo-index {
    grid-area: titulo-index;
    font-size: 2em;
    font-weight: 600;
    align-self: start;
}

.img-home-right {
    grid-area: img-home-right;
    max-width: 400px;
    width: 100%;
    justify-self: end;
    align-self: center;
}

.img-home-left {
    grid-area: img-home-left;
    max-width: 400px;
    width: 100%;
    justify-self: start;
    align-self: center;
}

.texto-home-right {
    grid-area: texto-home-right;
    justify-self: end;
    align-self: center;
}

.texto-home-left {
    grid-area: texto-home-left;
    justify-self: start;
    align-self: center;
}

@media only screen and (max-width: 1024px) {
    .sections-home {
        padding: 10% 10% 20%;
    }

    .texto-principal {
        max-width: 500px;
        font-size: 1rem;
        width: 100%;
        justify-self: start;
    }

    .texto-home-left {
        max-width: 400px;
        font-size: 0.8rem;
        width: 100%;
        justify-self: end;
    }

    .texto-home-right {
        max-width: 400px;
        font-size: 0.8rem;
        width: 100%;
        justify-self: start;
    }

    .titulo-branco, .titulo-verde {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 425px) {
    .div-home {
        height: 100%;
        display: grid;
        padding: 0% 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-home-index"
            "texto-principal";
    }

    .texto-home {
        text-align: center;
    }

    .sections-home {
        padding: 10% 5%;
    }

    .div-img-left {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-home-left"
            "texto-home-right";
    }

    .div-img-right {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-home-right"
            "texto-home-left";
    }
}

@media only screen and (max-width: 320px) {
    .div-home {
        height: 100%;
    }

    .sobre-img-left {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-left"
            "texto-sobre-right";
    }

    .sobre-img-right {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-right"
            "texto-sobre-left";
    }
}