.main-checkout {
    background-color: #E2F0EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
}

.card-plan-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin: 2rem 1rem;
    padding: 0%;
    background-color: #1D7870;
    color: #E2F0EF;
    border-radius: 10px;
}

.plan-info {
    padding: 1rem;
}

.plan-select {
    font-size: 1rem;
    font-weight: 600;
    margin: 0%;
}

.name-plan {
    font-size: 2rem;
    font-weight: 700;
    margin: 0%;
}

.plan-details {
    padding: 4% 0%;
    list-style: none;
}

    .plan-details li {
        font-size: 0.9rem;
        font-weight: 500;
    }

.section-total-plan {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #2D3037;
    border-radius: 0px 0px 10px 10px;
}

.total-plan {
    font-size: 1.25rem;
    font-weight: 700;
}

.value-plan {
    font-size: 2rem;
    font-weight: 700;
}

.card-checkout-data {
    height: 100vh;
    background-color: #2D3037;
    color: #E2F0EF;
}

.options {
    padding: 1rem 5rem;
}

.options-title {
    font-weight: 600;
    padding-bottom: 5%;
}

.form-check {
    display: flex;
    align-items: center;
    padding-bottom: 5%;
}

.form-check-label {
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 3%;
}

.payment-pix {
    display: flex;
    justify-content: center;
    padding: 2rem;
    max-height: 700px;
    height: 100%;
}

    .payment-pix img {
        max-width: 300px;
        width: 100%;
    }

.payment-card {
    position: relative;
    margin: 0;
    width: 20,1rem;
    height: 12rem;
    user-select: none;
}

.payment-card .front {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(11,48,44);
    background: linear-gradient(90deg, rgba(11,48,44,1) 0%, rgba(48,190,178,1) 100%);
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 1rem;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.payment-card .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-card .front .image img {
    height: 2rem;
    width: auto;
}

.payment-card .front .card-number-box {
    padding: 2rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: #E2F0EF;
}

.payment-card .front .flexbox {
    display: flex;
}

.payment-card .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.payment-card .front .flexbox .box {
    font-size: 1rem;
    font-weight: 500;
    color: #E2F0EF;
}

.payment-card .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(11,48,44);
    background: linear-gradient(45deg, rgba(11,48,44,1) 0%, rgba(48,190,178,1) 100%);
    border-radius: 10px;
    text-align: right;
    padding: 1rem 0;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.payment-card .back .stripe {
    background-color: #000;
    width: 100%;
    height: 2rem;
}

.payment-card .back .box {
    padding: 2rem 1rem;
}

.payment-card .back .box span {
    color: #E2F0EF;
    font-size: 1rem;
    font-weight: 600;
}

.payment-card .back .box .cvv-box {
    height: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0.4rem 0 1rem;
    color: #2D3037;
    font-weight: 600;
    background: #E2F0EF;
    border-radius: 10px;
    width: 100%;
}

.payment-card .back .box img {
    height: 1rem;
    width: auto;
}

@media only screen and (min-width: 768px) {
    .card-plan-info {
        margin: 2rem 5rem;
    }

    .plan-info {
        padding: 2rem 2rem 1rem;
    }

    .name-plan {
        font-size: 3.5rem;
    }

    .plan-select {
        font-size: 1.7rem;
    }

    .plan-details li {
        font-size: 1.2rem;
    }

    .payment-card {
        margin: 2rem 9rem;
    }

    .card-checkout-data {
        padding: 2rem 10rem;
        display: flex;
        justify-content: center;
    }

    .options-title {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1024px) {
    .main-checkout {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .card-plan-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
        max-height: 700px;
        height: 100%;
        width: 100%;
    }

    .payment-card {
        width: 26rem;
        height: 16rem;
        margin: 4rem 2rem;
    }

    .front {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-holder-name, .card-date-expiration {
        font-size: 1.2rem;
    }

    .payment-card .front .card-number-box {
        font-size: 1.6rem;
    }

    .plan-info {
        align-items: flex-start;
        padding: 5rem 2rem 1rem;
    }

    .name-plan {
        font-size: 3.5rem;
    }

    .plan-select {
        font-size: 1.7rem;
    }

    .plan-details li {
        font-size: 1.2rem;
    }

    .card-checkout-data {
        padding: 2rem 3rem;
    }

    .section-total-plan {
        height: 30%;
    }

    .line-form {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    .main-checkout {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-plan-info {
        width: 43.75rem;
        max-height: 700px;
        height: 100%;
    }

    .front {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-checkout-data {
        height: 50rem;
        width: 50rem;
        padding: 2rem 8rem;
        margin: 0;
    }

    .options-title {
        font-size: 1.9rem;
    }

    .total-plan, .value-plan {
        font-size: 2.5rem;
    }
}
