@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.section-contato {
    padding: 3% 10% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside-right {
    display: flex;
    background-color: #2D3037;
    border-radius: 20px;
    max-height: 500px;
}

.svg img {
    max-width: 400px;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 10%;
}

.background-icons {
    justify-content: space-between;
    width: 48px;
    height: auto;
    fill: #E2F0EF;
    transition: 0.3s ease-in;
    align-items: center;
    border-radius: 100px;
}

.background-icons:hover {
    fill: #1D7870;
    cursor: pointer ;
}

.aside-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 5%;
}

.titulo {
    font-weight: 600;
    font-size: 2rem;
}

.label-contato {
    font-weight: 500;
    font-size: 1rem;
    padding: 0%;
}

.input-contato {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5%;
    border-radius: 5px;
}

.form-control {
    color: #1D7870;
    font-weight: 600;
    box-shadow: none;
}

input:focus {
    border: 1px solid #30BEB2;
    color: #1D7870;
}

.input-detalhes textarea {
    outline: none;
}

.botao-enviar {
    width: 200px;
    height: 40px;
    background-color: #30BEB2;
    border: none;
    border-radius: 5px;
    color: #E2F0EF;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease-out;
}

.botao-enviar:hover {
    background-color: #E2F0EF;
    color: #1D7870;
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {
    .section-contato {
        flex-direction: column;
    }

    .aside-right, .icons, .background-icons {
        display: none;
    }

    .group-input-contato {
        text-align: start;
    }

    .aside-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .input-contato {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0% auto;
    }

    .botao-contato {
        justify-content: center;
    }
}