.secao-light {
    background-color: #E2F0EF;
}

.titulo-branco, .titulo-verde {
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: underline;
}

.titulo-verde {
    color: #1D7870;
}

.sobre-img-left {
    padding: 10% 15%;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0%;
    grid-template-areas:
        "img-left texto-sobre-right";
}

.sobre-img-right {
    padding: 10% 15%;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0%;
    grid-template-areas:
        "texto-sobre-left img-right";
}

.img-left {
    grid-area: img-left;
    max-width: 400px;
    width: 100%;
    justify-self: start;
}

.img-right {
    grid-area: img-right;
    max-width: 400px;
    width: 100%;
    justify-self: end;
}

.texto-sobre-left {
    grid-area: texto-sobre-left;
    max-width: 600px;
    width: 100%;
    justify-self: end;
}

.texto-sobre-right {
    grid-area: texto-sobre-right;
    max-width: 600px;
    width: 100%;
    justify-self: start;
}

.valores {
    padding: 5% 20% 10%;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0%;
    grid-auto-flow: row;
    grid-template-areas:
        "img texto-sobre-valores"
        "texto-abaixo texto-abaixo";
}

.texto-abaixo {
    grid-area: texto-abaixo;
}

.img-left-valores {
    grid-area: img;
    max-width: 400px;
    width: 100%;
    justify-self: start;
}

.texto-sobre-valores {
    grid-area: texto-sobre-valores;
    max-width: 600px;
    width: 100%;
    justify-self: end;
}


@media only screen and (max-width: 1024px) {
    .sobre-img-left, .sobre-img-right, .valores {
        padding: 10% 10% 20%;
    }

    .texto-sobre-left {
        max-width: 400px;
        font-size: 0.8rem;
        width: 100%;
        justify-self: end;
    }

    .texto-sobre-right {
        max-width: 400px;
        font-size: 0.8rem;
        width: 100%;
        justify-self: start;
    }

    .texto-sobre-valores {
        max-width: 400px;
        width: 100%;
        font-size: 0.8rem;
        justify-self: end;
    }

    .texto-abaixo {
        font-size: 0.8rem;
    }

    .titulo-branco, .titulo-verde {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 425px) {
    .sobre-img-left {
        padding: 5% 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-left"
            "texto-sobre-right";
    }

    .sobre-img-right {
        padding: 5% 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-right"
            "texto-sobre-left";
    }

    .valores {
        padding: 10% 10% 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 0.6fr 1.2fr;
        grid-template-areas:
            "texto-sobre-valores"
            "img"
            "texto-abaixo";
    }
}

@media only screen and (max-width: 320px) {
    .sobre-img-left {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-left"
            "texto-sobre-right";
    }

    .sobre-img-right {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-right"
            "texto-sobre-left";
    }
}
