@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(29,120,112);
    background: radial-gradient(circle, rgba(29,120,112,1) 0%, rgba(17,85,79,1) 100%);
    color: #E2F0EF;
}

.secao-light {
    background-color: #E2F0EF;
}

.img-right {
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto-branco {
    color: #E2F0EF;
}

.texto-verde {
    color: #1D7870;
}

.img-left {
    padding: 5% 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: end;
}

.valores {
    padding: 5% 10% 5%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    color: #1D7870;
    text-align: end;
}

.texto-principal {
    text-align: left;
    font-weight: 700;
    font-size: 2.2em;
}

.titulo {
    font-size: 1.7rem;
    font-weight: 600;
}

.texto {
    width: auto;
    text-align: justify;
    font-weight: 400;
    font-size: 1.3rem;
}

.segundo-texto {
    width: 100%;
    text-align: justify;
    font-weight: 400;
    font-size: 1.3rem;
}

.img-sobre img {
    max-width: 500px;
    width: auto;
}

.imagem-principal img {
    width: 30rem;
    text-align: center;
}

.item1 {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.item2 {
    grid-column: 1;
    grid-row: 1;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

@media only screen and (max-width: 1024px) {
    .titulo {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .texto-principal {
        font-size: 1.6em;
    }

    .texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 1rem;
    }
    
    .segundo-texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 1rem;
    }
    
    .img-sobre img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .texto-principal {
        font-size: 1.2em;
        text-align: justify;
    }

    .titulo {
        font-size: 1rem;
        font-weight: 600;
    }
    
    .texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.7rem;
    }
    
    .segundo-texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.7rem;
    }
    
    .img-sobre img {
        width: 100%;
    }

    .imagem-principal img {
        width: 25rem;
    }
}

@media only screen and (max-width: 650px) {
    .texto-principal {
        font-size: 1em;
    }

    .titulo {
        font-size: 0.9rem;
        font-weight: 600;
    }
    
    .texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.6rem;
    }
    
    .segundo-texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.6rem;
    }
    
    .img-sobre img {
        width: 100%;
    }
}

@media only screen and (max-width: 560px) {
    .texto-principal {
        font-size: 1em;
    }

    .titulo {
        font-size: 0.9rem;
        font-weight: 600;
    }
    
    .texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.6rem;
    }
    
    .segundo-texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.6rem;
    }
    
    .img-sobre img {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .div-home {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .imagem-principal img{
        width: 20rem;
    }

    .img-right {
        padding: 5% 5% 10%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
    }
    
    .img-left {
        padding: 5% 5%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .valores {
        padding: 5% 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .texto-home {
        width: 100%;
        padding: 0% 5%;
    }

    .texto-principal {
        font-size: 1.2em;
    }

    .titulo {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.7rem;
    }
    
    .segundo-texto {
        padding-top: 2%;
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.7rem;
    }
    
    .img-sobre img {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .titulo {
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .texto {
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.7rem;
    }
    
    .segundo-texto {
        padding-top: 2%;
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 0.7rem;
    }
    
    .img-sobre img {
        width: 100%;
    }
}