.section-profile {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 5% 0%; 
    grid-template-areas: 
        "area-perfil area-input-perfil"; 
    justify-items: center; 
    align-items: center; 
}

.profile {
    grid-area: area-perfil;
}

.input-profile {
    grid-area: area-input-perfil;
}

.line-profile {
    margin-bottom: 3%;
}

.nav-pills .nav-item .nav-link {
    color: #E2F0EF;
    font-weight: 600;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: #30BEB2 !important;
    color: #2D3037;
}

.nav-pills .nav-item .active {
    background-color: #30BEB2 !important;
    color: #2D3037;
}

.section-profile {
    padding: 0% 10%;
    max-width: 1500px;
}

.card-profile {
    background-color: #2D3037;
    max-width: 400px;
    border-radius: 15px;
}

.name-profile {
    font-weight: 500;
    font-size: 1.3rem;
}

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
}

.personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}

.icon-edit svg {
    height: 16px;
}

.btn-confirmar {
    background-color: #30BEB2;
    transition: 0.2s;
}

.btn-confirmar:hover {
    background-color: #28988E;
}

.label-profile {
    font-weight: 500;
    font-size: 1rem;
    padding: 0%;
}

.button-profile {
    margin-top: 20%;
    padding-bottom: 20%;
}

.button-profile2 {
    margin-top: 5%;
    padding-bottom: 5%;
    display: none;
}

.button-atualizar {
    display: flex;
    justify-content: end;
}

@media only screen and (max-width: 768px) {
    .section-profile {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0%; 
        grid-template-areas: 
            "area-perfil"
            "area-input-perfil"; 
        justify-items: center; 
        align-items: center; 
    }

    .input-profile {
        justify-content: center;
        padding: 0rem 5rem;
    }

    .info-input {
        text-align: center;
        font-size: 1.8rem;
    }

    .button-atualizar {
    justify-content: center;
    }
}

@media only screen and (max-width: 768px) { 
    .input-profile {
        padding: 0rem 1rem;
    }

    .info-input {
        font-size: 1.4rem;
    }
}