.text-planos h3 {
  color: #1D7870;
  font-size: 1.2em;
}

.title-planos h1 {
  color: #1D7870;
  font-weight: 700;
}

.card-planos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0% 5%;
}

.card-unico {
  background-color: #2D3037;
  padding: 5% 2%;
  border-radius: 10px;
}

.lista-planos {
  text-align: start;
}

.titulo-plano h1 {
  font-size: 2.3em;
  font-weight: 600;
}

.titulo-preco {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.texto-cifrao {
  font-size: 2.5em;
  font-weight: 600;
}

.texto-preco {
  font-size: 2.5em;
  font-weight: 700;
  color: #30BEB2;
}

.card-subtitle {
  padding-top: 8%;
  font-size: 1.5em;
  font-weight: 600;
}

@media(max-width: 1444px){
    #wrap{
      flex-direction: column-reverse;
    }

    #card-1{
      margin: 0 auto;
      width: 100%;
      margin-bottom: 3em;
    }
}

@media(max-width: 1024px) {
  .titulo-plano h1 {
    font-size: 1.6em;
    font-weight: 600;
  }
  .texto-cifrao {
    font-size: 2em;
    font-weight: 600;
  }
  
  .texto-preco {
    font-size: 2em;
    font-weight: 700;
    color: #30BEB2;
  }
  .card-subtitle {
    padding-top: 8%;
    font-size: 1.2em;
    font-weight: 600;
  }

  .lista-planos {
    font-size: 0.8em;
  }
}

@media(max-width: 1000px){
    .table{
      display: none;
    }
}

