.text-planos h3 {
  color: #1D7870;
  font-size: 1.2em;
}

.title-planos h1 {
  color: #1D7870;
  font-weight: 700;
}

.card-planos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0% 10%;
}

.card-unico {
  background-color: #2D3037;
  padding: 5% 2%;
  border-radius: 10px;
}

.lista-planos {
  text-align: start;
}

.titulo-plano h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.titulo-preco {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.texto-cifrao {
  font-size: 3em;
  font-weight: 600;
}

.texto-preco {
  font-size: 3em;
  font-weight: 700;
  color: #30BEB2;
}

.card-subtitle {
  padding-top: 8%;
  font-size: 1.5em;
  font-weight: 600;
}

.botao button{
  font-weight: bolder;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  color: #E2F0EF;
  background-color: #30BEB2;
  transition: all 0.35s ease-in-out;
  width: 90%;
}

.botao button:hover{
  background-color: #E2F0EF;
  color: #92ddd7;
}

@media(max-width: 1444px){
    #wrap{
      flex-direction: column-reverse;
    }

    #card-1{
      margin: 0 auto;
      width: 100%;
      margin-bottom: 3em;
    }
}

@media(max-width: 1000px){
    .table{
      display: none;
    }
}

