/* body {
    background: #E2F0EF;
    color: #1D7870;
} */

/* Estilo Navbar Lateral  */
#hr {
    border: solid 1px #30BEB2;
    width: 75%;
    margin: 3em auto;
}

.logo-sidebar {
    width: 60%;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.barra {
    /* position: fixed; */
    max-width: 15rem;
    background-color: #2D3037;
    overflow: scroll;
}

.barra::-webkit-scrollbar {
    display: none;
}

.baixo, .topo {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.baixo a, .topo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E2F0EF;
    margin: 0.7em auto;
    width: 80%;
    border-radius: 15px;
    height: 50px;
    transition: all 0.20s ease-in-out;
}

.baixo p, .topo p {
    font-weight: 600;
}

.baixo a:hover, .topo a:hover {
    background-color: #1D7870;
    cursor: pointer;
}

.barra a:is(:link, :active, :visited).active{
    background-color: #1D7870;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }

  .sidebar-text {
    display: inline;
  }
  
  .sidebar:hover .sidebar-text {
    display: inline;
  }
  
@media (max-width: 1280px) {
    .sidebar-text {
      display: none;
    }

    .logo-sidebar {
        clip: rect(0px,60px,200px,0px);
    }
  }

/* DASHBOARD ITENS */

.main-dashboard {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2F0EF;
}

.title-system {
    font-size: 2rem;
    font-weight: 700;
    color: #2D3037;
}

.cards-dashboard {
    display: grid;
    justify-content: space-evenly;
<<<<<<< HEAD
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
=======
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2%;
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
    grid-auto-flow: row;
    grid-template-areas:
        "relatorio"
        "vendas"
        "estoque"
        "agenda";
}

<<<<<<< HEAD
.card-relatorio,
.card-vendas,
.card-estoque,
.card-agenda {
    width: 30rem;
    height: 18rem;
    background-color: #2D3037;
    border-radius: 15px;
    padding: 2% 5%;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
=======
.card-relatorio, .card-vendas, .card-estoque, .card-agenda {
    width: 21rem;
    height: 16rem;
    background-color: #2D3037;
    border-radius: 15px;
    padding: 1% 3%;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.25);
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
}

/* CARD RELATORIO */
.card-relatorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
=======
    align-items: center;
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
    grid-area: relatorio;
    align-items: flex-start;
}

.subtitle-cards-dashboard {
<<<<<<< HEAD
    font-size: 1.4rem;
    text-align: start;
=======
    font-size: 1.2rem;
    text-align: center;
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
    font-weight: 600;
}

.content-relatorio {
    width: 100%;
}

.doughnut-chart canvas {
<<<<<<< HEAD
    width: 12rem;
    margin: 0rem auto 1rem;
}

.circle-lucro,
.circle-faturamento,
.circle-despesas {
=======
    width: 8rem;
    margin: 0rem auto 1rem;
}

.circle-lucro, .circle-faturamento, .circle-despesas {
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
    width: 14px;
    height: 14px;
    border-radius: 100px;
}

.listen-relatorio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listen-relatorio p {
    font-size: 0.8rem;
}

<<<<<<< HEAD
.item-lucro,
.item-faturamento {
=======
.item-lucro, .item-faturamento {
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
    padding: 0% 2% 1%;
}

.circle-lucro {
    background-color: #30BEB2;
}

.circle-faturamento {
    background-color: #1D7870;
}

.circle-despesas {
    background-color: #c71f37;
}
/* FIM CARD RELATORIO */

/* CARD VENDAS */
.card-vendas {
    grid-area: vendas;
}

.valor-vendas {
    font-size: 1.5rem;
    font-weight: 700;
    color: #30BEB2;
}

.item-info-vendas p {
    font-size: 1rem;
    font-weight: 500;
}

.bar-chart canvas {
    width: auto;
    height: 13rem;
    margin: 0 auto;
}
/* FIM CARD VENDAS */

/* CARD ESTOQUE */
.card-estoque {
    grid-area: estoque;
}

.table-estoque-dashboard {
    width: 14rem;
    color: #E2F0EF;
    padding: 5%;
}
/* FIM CARD ESTOQUE */

/* CARD AGENDA */
.card-agenda {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: agenda;
}
=======
    justify-content: center;
    align-items: center;
    grid-area: agenda;
}
/* FIM CARD AGENDA */
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
