@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(29,120,112);
    background: radial-gradient(circle, rgba(29,120,112,1) 0%, rgba(17,85,79,1) 100%);
    color: #E2F0EF;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #30BEB2;
}

html {
  position: relative;
  min-height: 100%;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: #525661;
}

body::-webkit-scrollbar-thumb {
  background-color: #1D7870;    
  border-radius: none;       
  border: none;  
}

input[type="radio"] {
  background-color: #E2F0EF;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  transition: 0.2s ease-in-out;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: #30BEB2;
}

.label-contato {
  font-weight: 600;
  font-size: 1rem;
  padding: 0%;
}

.input-contato {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 5%;
  border-radius: 5px;
}

.form-control {
  color: #1D7870;
  font-weight: 600;
  box-shadow: none;
}

input:focus {
  border: 1px solid #30BEB2;
  color: #1D7870;
  outline: none;
}

.input-detalhes textarea {
  outline: none;
}

.form-control-plaintext {
  background-color: #fff;
  padding-left: 5%;
  border-radius: 5px 5px 5px 5px;
}

.back-page .icon-p {
  text-decoration: none;
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #1D7870;
  font-weight: 600;
}

.back-page:hover {
  text-decoration-line: none;
}

.back-page .icon-p:hover {
  color: #30BEB2;
}