html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: #525661;
}

body::-webkit-scrollbar-thumb {
  background-color: #1D7870;    
  border-radius: none;       
  border: none;  
}

.barra {
  margin: 1% 5% 0%;
}

.barra ul li a{
  color: #E2F0EF;
  font-size: 1em;
  margin-left: 2rem;  
  transition: all 0.35s ease-in-out; 
}

.barra a:hover{
  color: #30BEB2;
}

.barra img{
  height: 1.5em;
}

.secondy-button {
  color: #E2F0EF;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 0px 0.6px 1px #000;
  background-color: #30BEB2;
  width: 350px;
  height: 40px;
  box-shadow: 0px 0.7px 2px #000;
  border: none;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.secondy-button:hover {
  background-color: #1D7870;
}