.main-addvenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.title-system {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2D3037;
}

.back-page {
    text-decoration: none;
    color: #2D3037;
}

.icon-p {
    display: flex;
    align-items: center;
}

.m-0 {
    margin-left: 0.5rem;
}

.nova-venda {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 2rem 0rem;
}

.tab-add-venda {
    grid-column: 1/3;
    background-color: #525661;
    color: #E2F0EF;
    padding: 1rem;
}

.pesquisa-produto-nova-venda {
    background-color: #2D3037;
    padding: 1rem;
    color: #E2F0EF;
    grid-column: 1;
}

.info-venda {
    grid-column: 2;
    width: 100%;
    background-color: #2D3037;
    color: #E2F0EF;
    padding: 1rem 5rem 2rem;
}

.tabela-nova-venda {
    width: 100%;
}

.tabela-nova-venda thead {
    background-color: #2D3037;
    color: #E2F0EF;
}

.tabela-nova-venda th,
.tabela-nova-venda td {
    padding: 0.5rem;
}

.topo-input-nova-venda {
    padding-bottom: 1rem;
}

.input-nova-venda {
    margin-bottom: 1rem;
}

.input-pesquisar-produto {
    width: 10rem;
}

.input-qtd-produto {
    width: 8rem !important; 
}

.table {
    width: 100%;
    background-color: #525661;
    color: #E2F0EF;
}

.table thead {
    background-color: #2D3037;
    color: #E2F0EF;
}

.table th,
.table td {
    padding: 0.5rem;
}

.topo-info-venda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem 1rem;
}

.topo-input-nova-venda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 2%;
}

.qtd-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-cargo {
    font-size: 1.2rem;
    font-weight: 600;
}

.name-funcionario {
    font-size: 1rem;
}

.label-estoque {
    font-size: 1rem;
    font-weight: 500;
    color: #E2F0EF;
    margin-bottom: 0.5rem;
}

.input-contato {
    width: 100%;
}

.info-venda .group-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.button-venda,
.button-cancelar {
    padding: 0.5rem 1rem;
    background-color: #30BEB2;
    color: #E2F0EF;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.button-venda {
    margin-right: 0.5rem;
}

.button-cancelar {
    background-color: #c71f37;
}

.button-cancelar:hover {
    background-color: #85182a;
    color: #E2F0EF;
}

@media (max-width: 600px) {
    .nova-venda {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;
        margin-top: 1rem;
    }

    .tab-add-venda {
        order: -1;
    }

    .info-venda {
        grid-row: auto;
    }
}