 <h1>Funcionários</h1>

    <!-- CARTÃO INÍCIO -->
    <div class="fundo-cartoes d-flex">
        <div class="cartao mt-5 mb-5">
            <div class="text-center pt-3 pb-3"><img src="~/img/fotoPerfil.png" width="128px" alt=""></div>
            <div class="informacoes">
                <p class="titulo">Pedro Henrique</p>
                <p class="subtitulo">23 Anos</p>
                <div class="teste d-flex flex-column justify-content-center text-start ps-3 pb-3">
                    <p>Cargo:</p><p>Aux. de Suporte</p>
                    <p>Cargo:</p><p>Aux. de Suporte</p> 
                    <p>Cargo:</p><p>Aux. de Suporte</p>
                </div>
            </div>
            <div class="text-center botoes pb-3">
                <button class="button-funcionario-secondary">Ver mais</button>
                <button class="button-funcionario-primary">Editar</button>
            </div>
        </div>
    </div>