@model ProdigyWeb.Models.Usuario
@{
    ViewData["Title"] = "Cadastro";
}
  <div class="cadastro-titulo">
    <p>Olá novo usuário! É um prazer tê-lo conosco.</p>
  </div>
  <div class="primeiro cadastro">
    <h1>Dados principais</h1>
   
        
    
    <form asp-controller="Usuario" asp-action="CadastrarUsuario">
        <label for="nome">Nome completo</label><br>
        <input type="text" asp-for="Nome" id="" required placeholder="Ex.: Marcelo Antônio Nunes"><br>
        
        <label for="cpf">CPF</label><br>
        <input type="text" asp-for="Cpf" id="" required placeholder="Ex.: 000.000.000-00"><br>

        <label for="email">Email</label><br>
        <input type="email" asp-for="Email" id="" required placeholder="Ex.: email@contato.com"><br>

        <label for="confirm-email">Confirmar e-mail</label><br>
        <input type="email" name="" id="" required placeholder="Ex.: email@contato.com"><br>

        <label for="nascimento">Data de nascimento</label><br>
        <input type="date" asp-for="DataNascimento" id="" required placeholder="Ex.: 01/01/2000"><br>

        <label for="senha">Senha</label><br>
        <input type="password" asp-for="Senha" id="" required placeholder="Ex.: #Senha.Forte10"><br>

        <button type="submit" class="button-small">Confirmar</button>
    </form>
  </div>
 
  <!--div class="segundo cadastro">
    <h1>Contato</h1>
    <form action="">
      <label for="email">Telefone/Celular</label><br>
      <input type="email" name="" id="" required placeholder="Ex.: (00)12345-6789"><br>
      <label for="confirm-email">E-mail secundário</label><br>
      <input type="email" name="" id="" required placeholder="Ex.: email@contato.com"><br>
      <label for="nome">Estado</label><br>
      <input type="text" name="" id="" required placeholder="Ex.: São Paulo"><br>
      <label for="nascimento">Cidade</label><br>
      <input type="text" name="" id="" required placeholder="Ex.: São Paulo"><br>
      <button class="button-small">Avançar</button>
    </form>

      <div class="terceiro cadastro">
        <h1>Dados Comerciais</h1>
        <form action="">
            <label for="email">Nome da empresa</label><br>
            <input type="email" name="" id="" required placeholder="Ex.: Prodigy"><br>
            <label for="confirm-email">CNPJ</label><br>
            <input type="email" name="" id="" required placeholder="Ex.: 01.123.145/0001-00"><br>
            <label for="nome">Nicho</label><br>
            <input type="text" name="" id="" required placeholder="Ex.: Loja de autopeças"><br>
            <label for="nascimento">Data de fundação</label><br>
            <input type="text" name="" id="" required placeholder="Ex.: 12/03/1989"><br>
            <button>Avançar</button>
        </form>
      </div>

      <div class="quarto cadastro">
        <h1>Segurança</h1>
        <form action="">
            <label for="email">Senha</label><br>
            <input type="password" name="" id="" required placeholder="**********"><br>
            <label for="confirm-email">Confirmar senha</label><br>
            <input type="password" name="" id="" required placeholder="**********"><br>
            <label for="nome">E-mail de recuperação</label><br>
            <input type="text" name="" id="" required placeholder="Ex.: email@contato.com"><br>
            <label for="nascimento">Confirmar e-mail de recuperação</label><br>
            <input type="text" name="" id="" required placeholder="Ex.: email@contato.com"><br>
            <button>Avançar</button>
        </form>
      </div>
</-->