    @{
        @ViewData["Sobre"]
    }
    
        <section class="quem-somos"> <!-- Div - 'quem somos?' -->
            <div class="texto-sobre"> <!-- Conteudo -->
                <h2 class="titulo">Quem somos?</h2>
                <br>
                <p class="texto">A Prodigy é uma empresa recente no mercado de software de gestão empresarial para comércios gerais, 
                    mas já conquistou a confiança de muitos clientes. Com uma equipe altamente capacitada e soluções inovadoras, a Prodigy 
                    vem se destacando por oferecer uma ferramenta completa e eficiente para a gestão de negócios.</p>
            </div>

            <div class="img-sobre"> <!-- SVG -->
                <img src="img/svg/equipe-sobre.svg" alt="Imagem Equipe">
            </div>
        </section>
        
    <div class="secao-light">
        <section class="missao"> <!-- Div - 'missao' -->
            <div class="texto-sobre"> <!-- Conteudo -->
                <h2 class="titulo">Missão</h2>
                <br>
                <p class="texto">A missão da Prodigy é simplificar a gestão de negócios, tornando-a mais eficiente e produtiva. 
                    A empresa acredita que um software de gestão empresarial eficiente é fundamental para o sucesso de qualquer negócio, 
                    e por isso busca oferecer soluções personalizadas para cada cliente.
                    <br> <br>
                    A empresa tem como objetivo principal ajudar os negócios a crescerem e se desenvolverem de forma sustentável, através de soluções 
                    tecnológicas que simplificam e otimizam processos internos. A Prodigy acredita que a tecnologia deve estar a serviço das pessoas, 
                    e não o contrário, e por isso se preocupa em oferecer soluções intuitivas e fáceis de usar.</p>
            </div>

            <div class="img-sobre"> <!-- SVG -->
                <img src="img/svg/img-missao.svg" alt="Imagem Equipe">
            </div>
        </section>

        <section class="visao"> <!-- Div - 'visao' -->
            <div class="texto-sobre"> <!-- Conteudo -->
                <h2 class="titulo">Visão</h2>
                <br>
                <p class="texto">A Prodigy tem como visão ser uma empresa líder no mercado de software de gestão empresarial para comércios gerais, 
                    com uma equipe altamente qualificada e comprometida em oferecer soluções personalizadas e inovadoras. A empresa busca ser reconhecida 
                    como uma referência em atendimento personalizado, sempre buscando entender as necessidades e particularidades de cada cliente.
                    <br> <br>
                    Além disso, a Prodigy tem como visão contribuir para o desenvolvimento dos negócios em geral, oferecendo soluções tecnológicas que 
                    possam otimizar processos e resultados, tornando-se um parceiro estratégico para o crescimento sustentável das empresas.</p>
            </div>

            <div class="img-sobre"> <!-- SVG -->
                <img src="img/svg/img-visao.svg" alt="Imagem Equipe">
            </div>
        </section>

        <section class="valores"> <!-- Div - 'valores' -->
                <div class="texto-sobre item1"> <!-- Conteudo -->
                    <h2 class="titulo">Valores</h2>
                    <br>
                    <p class="texto">A empresa entende que a ética é fundamental para o relacionamento com seus clientes e parceiros, sempre buscando 
                        agir com integridade e respeito às normas e leis. Além disso, a Prodigy preza pela transparência em suas relações, buscando sempre 
                        ser clara e honesta com seus clientes, parceiros e colaboradores.
                        <br> <br>
                        A inovação também é um valor importante para a Prodigy, que busca constantemente desenvolver soluções tecnológicas inovadoras 
                        para atender às necessidades dos clientes de forma eficiente e produtiva. A empresa acredita que a inovação é fundamental para a 
                        evolução dos negócios em geral.</p>           
                </div>

                <div class="img-sobre item2"> <!-- SVG -->
                    <img src="img/svg/img-valores.svg" alt="Imagem Equipe">
                </div>
            
                <p class="segundo-texto item3">A excelência no atendimento ao cliente é outro valor importante para a Prodigy, que busca oferecer um atendimento personalizado e de 
                    qualidade, sempre buscando entender as necessidades e particularidades de cada cliente, com o objetivo de fornecer soluções personalizadas e eficientes.
                    Por fim, a Prodigy valoriza a colaboração, o trabalho em equipe e o respeito às diferenças, buscando sempre criar um ambiente de trabalho 
                    saudável e inclusivo para seus colaboradores.<p>
        </section>