@{
    ViewData["Title"] = "Planos";
}

<div class="secao-light">
    <div class="title-planos container-fluid text-center pt-5"><h1>Conheça nossos planos</h1></div>
    <div class="text-planos container-fluid text-center pb-5"><h3>Selecione qual atende melhor sua necessidade</h3></div>

    <div class="card-planos row row-cols-2 row-cols-md-3 g-4 pb-5">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card-unico card h-100">
                <div class="card-title text-center"><p class="titulo-plano">Starter</p></div>
                <div class="titulo-preco card-title text-center">
                    <h2 class="texto-cifrao">R$</h2>
                    <h2 class="texto-preco">00,00</h2>
                </div>
                <div class="card-subtitle text-center"><p>Beneficios</p></div>
                <div class="card-body text-center">
                    <ul class="lista-planos">
                        <li>Anúncios</li>
                        <li>Estoque de produtos</li>
                        <li>Vendas</li>
                        <li>Fluxo de caixa</li>
                        <li>Dashboard</li>
                        <li>Pedidos</li>
                        <li>Recibos ilimitados</li>
                        <li>Fornecedores</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-4">
                    
                        <a style="text-decoration: none;" asp-controller="Pagamento" asp-action="Index"><button class="button-small">Assinar</button></a>
                   
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card-unico card h-100">
                <div class="card-title text-center"><p class="titulo-plano">Pro</p></div>
                <div class="titulo-preco card-title text-center">
                    <h2 class="texto-cifrao">R$</h2>
                    <h2 class="texto-preco">19,90</h2>
                </div>
                <div class="card-subtitle text-center"><p>Beneficios</p></div>
                <div class="card-body text-center">
                    <ul class="lista-planos">
                        <li>Sem anúncios</li>
                        <li>Estoque de vendas</li>
                        <li>Vendas</li>
                        <li>Fluxo de caixa</li>
                        <li>Dashboard</li>
                        <li>Pedidos</li>
                        <li>Recibos ilimitados</li>
                        <li>Fornecedores</li>
                        <li>20 NF-e mensais</li>
                        <li>Funcionários</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-4">
                    <a style="text-decoration: none;" asp-controller="Pagamento" asp-action="Index"><button class="button-small">Assinar</button></a>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card-unico card h-100">
                <div class="card-title text-center"><p class="titulo-plano">+Pro</p></div>
                <div class="titulo-preco card-title text-center">
                    <h2 class="texto-cifrao">R$</h2>
                    <h2 class="texto-preco">29,90</h2>
                </div>
                <div class="card-subtitle text-center"><p>Beneficios</p></div>
                <div class="card-body text-center">
                    <ul class="lista-planos">
                        <li>Mesmos benefícios do plano Pro</li>
                        <li>NF-e mensais ilimitados</li>
                        <li>Funcionários</li>
                        <li>Até 2 funcionário com acesso restrito</li>
                        <li>Até 2 Administradores com acesso</li>
                        <li>Cadastro de contabilidade e envio de informes de rendimentos</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-4">
                    <a style="text-decoration: none;" asp-controller="Pagamento" asp-action="Index"><button class="button-small">Assinar</button></a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card-unico card h-100">
                <div class="card-title text-center"><p class="titulo-plano">Personalizado</p></div>
                <div class="titulo-preco card-title text-center">
                    <h2 class="texto-cifrao">R$</h2>
                    <h2 class="texto-preco">34,90</h2>
                </div>
                <div class="card-subtitle text-center"><p>Beneficios</p></div>
                <div class="card-body text-center">
                    <ul class="lista-planos">
                        <li>Sem anúncios</li>
                        <li>Adequação às necessidades da empresa</li>
                        <li>Flexibilidade e escalabilidade</li>
                        <li>Eficiência operacional</li>
                        <li>Personalização de funcionalidades do sistema com módulos</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-4">
                    <a style="text-decoration: none;" asp-controller="Pagamento" asp-action="Index"><button class="button-small">Assinar</button></a>
                </div>
            </div>
        </div>
    </div>


    <div class="tabela-planos pt-5 pb-5">
        <div class="title-planos container-fluid text-center mt-3"><h1>Mais informações</h1></div>
        <div class="text-planos container-fluid text-center mb-3"><h3>Beneficios detalhados de cada plano</h3></div>
        <div class="container-fluid mx-auto text-center mt-5 mb-5">
            <img src="../img/table.png" alt="" width="75%">
        </div>
    </div>
</div>