@{
    ViewData["Title"] = "Adicionar Produto";
}

<div class="main-addproduto">
<h1 class="p-5">Estoque > Produto</h1>

    <!-- INICIO FORMULARIO -->
        <div class="d-flex fundo">
            <div class="container formulario">
                <label for="">Nome do produto:</label>
                <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
                <label for="">Valor de compra:</label>
                <input class="form-control form-control-lg" type="text" placeholder="R$" aria-label=".form-control-lg example">
                <label for="">Valor de venda:</label>
                <input class="form-control form-control-lg" type="text" placeholder="R$" aria-label=".form-control-lg example">
                <label for="">Estoque mínimo:</label>
                <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
                <label for="">Quantidade:</label>
                <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
                <label for=""></label>
                <input class="form-control form-control-lg" id="formFileLg" type="file">
            </div>
            <div class="container formulario">
                <label for="">Marca:</label>
                <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
                <label for="">Modelo:</label>
                <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
                <label for="">S/N:</label>
                <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
                <label for="">Código de barras:</label>
                <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
                <label for=""></label>
                <div class="texto"><p>Produto agrupado? <input type="checkbox" name="" id=""></p></div><br>
                <div class="botoes"><button>Limpar</button><button>Salvar</button></div>
            </div>
        </div>
    </div>
    <!-- FIM FORMULARIO -->