<div class="main-fluxo-caixa">
    <div class="topo-fluxo-caixa">
        <div class="cards-fluxo">
            <p class="title-card-fluxo">Faturamento</p>
        </div>
        <div class="cards-fluxo">
            <p class="title-card-fluxo">Despesas</p>
        </div>
        <div class="cards-fluxo">
            <p class="title-card-fluxo">Lucro</p>
        </div>
    </div>
</div>