<!-- LISTA DE ESTOQUE INÍCIO -->
    <div class="fundo">
        <div class="tabela">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <div class="d-flex teste">
                            <a><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.5556 0H4.44444C1.97778 0 0 2 0 4.44444V35.5556C0 38 1.97778 40 4.44444 40H35.5556C38 40 40 38 40 35.5556V4.44444C40 2 38 0 35.5556 0ZM31.1111 22.2222H22.2222V31.1111H17.7778V22.2222H8.88889V17.7778H17.7778V8.88889H22.2222V17.7778H31.1111V22.2222Z" fill="#E2F0EF"/></svg></a>
                            <a><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C2.23858 0 0 2.23858 0 5V35C0 37.7614 2.23858 40 5 40H35C37.7614 40 40 37.7614 40 35V5C40 2.23858 37.7614 0 35 0H5ZM10.6667 29.3333V25.445L22.1347 13.9769L26.0231 17.8653L14.555 29.3333H10.6667ZM29.03 13.3963C29.4344 13.8007 29.4344 14.4539 29.03 14.8583L27.1325 16.7558L23.2442 12.8675L25.1417 10.97C25.5461 10.5656 26.1993 10.5656 26.6037 10.97L29.03 13.3963Z" fill="#E2F0EF"/></svg></a>
                            <a><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 0C8.96 0 0 8.96 0 20C0 31.04 8.96 40 20 40C31.04 40 40 31.04 40 20C40 8.96 31.04 0 20 0ZM22 30H18V26H22V30ZM22 22H18V10H22V22Z" fill="#E2F0EF"/></svg></a>
                        </div>
                    </td>
                </tbody>
              </table>
        </div>
    </div>
    <!-- LISTA DE ESTOQUE FIM -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>