@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid main-dashboard m-2">
    <div class="title"><p class="title-system">Dashboard</p></div>

    <div class="cards-dashboard"> @*Div principal que armazena os 4 cards = relatório/vendas/estoque/histórico*@
        
        <div class="card-relatorio"> @*Div relatório*@
            <div class="subtitle-cards-dashboard"><p class="m-0">Relatório</p></div>
            <div class="content-relatorio">
                <div class="doughnut-chart mx-auto"> @*Gráfico do relatório*@
                    <canvas id="myChart"></canvas>
                </div> 
            </div>
        </div>

        <div class="card-vendas">
            <div class="info-vendas d-flex flex-row justify-content-between">
                <div class="nome-valor-vendas">
                    <div class="subtitle-cards-dashboard">Total de Vendas</div>
                    <p class="valor-vendas m-0">R$1024,83</p>
                </div>
            </div>
            <div class="bar-chart mx-auto">
                    <canvas class="line"></canvas>
            </div>
        </div>

        <div class="card-estoque">
            <div class="subtitle-cards-dashboard">Estoque</div>
            <table class="table table-estoque-dashboard">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Produto</td>
                    <td>Categoria</td>
                    <td><i class="fa fa-exclamation-triangle" style="color: yellow;"></i></td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Produto</td>
                    <td>Categoria</td>
                    <td><i class="fa fa-exclamation-circle" style="color: red;"></i></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Produto</td>
                    <td>Categoria</td>
                    <td><i class="fa fa-exclamation-circle" style="color: red;"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-agenda">
            <div class="subtitle-cards-dashboard">Pedidos</div>
            <table class="table table-estoque-dashboard">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Produto</td>
                    <td>Categoria</td>
                    <td>Em andamento</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Produto</td>
                    <td>Categoria</td>
                    <td>Concluído</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Produto</td>
                    <td>Categoria</td>
                    <td>Concluído</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>