@{
    ViewData["Title"] = "Nova venda";
}

<div class="main-addvenda">

    <!-- INICIO FORMULARIO -->
        <h1 class="title-system">Nova venda</h1>
        <a class="back-page" asp-action="SHome" asp-controller="Index">
            <div class="icon-p">
                <i class="fa-solid fa-circle-left fa-lg"></i>
                <p class="m-0">Voltar</p>
            </div>
        </a>
    <main class="nova-venda">
        <div class="table-responsive-lg tab-add-venda">
            <table class="table tabela-nova-venda">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Cód</th>
                <th scope="col">Descrição</th>
                <th scope="col">Qtd</th>
                <th scope="col">Vlr. Unitário</th>
                <th scope="col">Vlr. Total</th>
                <th scope="col">%</th>
                <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>24125</td>
                <td>Banana</td>
                <td>2</td>
                <td>10</td>
                <td>20</td>
                <td>0</td>
                <td> 
                    <button type="button" class="botao-estoque" title="Adicionar quantidade"><i class="fa-solid fa-square-plus fa-xl"></i></button>
                    <button type="button" class="botao-estoque" title="Diminuir quantidade"><i class="fa-solid fa-square-minus fa-xl"></i></button>
                    <button type="button" class="botao-estoque red-icon-button" title="Excluir pedido"><i class="fa-solid fa-trash fa-xl"></i></button>
                </td>
                </tr>

                <tr>
                    <th scope="row">1</th>
                    <td>24125</td>
                    <td>Banana</td>
                    <td>2</td>
                    <td>10</td>
                    <td>20</td>
                    <td>0</td>
                    <td> 
                        <button type="button" class="botao-estoque" title="Adicionar quantidade"><i class="fa-solid fa-square-plus fa-xl"></i></button>
                        <button type="button" class="botao-estoque" title="Diminuir quantidade"><i class="fa-solid fa-square-minus fa-xl"></i></button>
                        <button type="button" class="botao-estoque red-icon-button" title="Excluir pedido"><i class="fa-solid fa-trash fa-xl"></i></button>
                    </td>
                </tr>

                <tr>
                    <th scope="row">1</th>
                    <td>24125</td>
                    <td>Banana</td>
                    <td>2</td>
                    <td>10</td>
                    <td>20</td>
                    <td>0</td>
                    <td> 
                        <button type="button" class="botao-estoque" title="Adicionar quantidade"><i class="fa-solid fa-square-plus fa-xl"></i></button>
                        <button type="button" class="botao-estoque" title="Diminuir quantidade"><i class="fa-solid fa-square-minus fa-xl"></i></button>
                        <button type="button" class="botao-estoque red-icon-button" title="Excluir pedido"><i class="fa-solid fa-trash fa-xl"></i></button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class="pesquisa-produto-nova-venda">
                <div class="topo-input-nova-venda">
                    <div class="group-input-venda"> @*Input = Pesquisar produto*@
                        <div class="input-nova-venda input-group">
                            <input type="text" class="input-pesquisar-produto form-control" placeholder="Pesquisar o nome ou cód do produto" required>
                        </div>
                    </div> 
                    <div class="qtd-button">
                        <div class="group-input-venda"> @*Input = QTD*@
                            <div class="input-nova-venda input-group">
                                <input type="number" placeholder="QTD" min="1" class="input-qtd-produto form-control" required>
                            </div>
                        </div>    
                        <div class="button-adicionar-venda">
                            <button class="button-small">Adicionar</button>
                        </div>
                    </div>
                </div>
            <table class="table tabela-pedidos">
                <thead>
                    <tr>
                    <th scope="col">Nome do produto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Qtd</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td scope="row">Banana</td>
                    <td>CPS</td>
                    <td>5</td>
                    <td>20</td>
                    <td> 
                        <button type="button" class="botao-estoque red-icon-button" title="Excluir produto"><i class="fa-solid fa-trash fa-xl"></i></button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div> 

        <div class="info-venda">
            <div class="topo-info-venda">
                <div class="venda-funcionario"> @* Funcionário: ...*@
                    <p class="label-estoque">Funcionário:</p>
                    <p class="name-funcionario">Marcelo</p>
                </div> 
                <div class="group-input-contato"> @*Input = Cliente*@
                    <p class="label-estoque">Cliente</p>
                    <div class="input-contato input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar cliente" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Data de venda*@
                    <p class="label-estoque">Data de venda</p>
                    <div class="input-contato input-group">
                    <input type="date" class="form-control" required>
                    </div>
                </div> 

                <div class="group-input-contato"> @*Input = Forma de pagamento*@
                    <p class="label-estoque">Forma de pagamento</p>
                    <div class="input-contato input-group">
                            <select id="pagamentoVenda" class="form-control">
                                <option value="0">Selecione</option>
                                <option value="1">Cartão de crédito</option>
                                <option value="2">Cartão de débito</option>
                                <option value="3">Dinheiro</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="detalhes-venda">
                <div class="group-input-contato">
                    <p class="label-estoque">Subtotal</p>
                    <div class="input-contato input-group">
                        <input type="text" class="form-control" value="R$ 100,00" readonly>
                    </div>
                </div>

                <div class="group-input-contato">
                    <p class="label-estoque">Desconto</p>
                    <div class="input-contato input-group">
                        <input type="text" class="form-control" value="R$ 10,00">
                    </div>
                </div>

                <div class="group-input-contato">
                    <p class="label-estoque">Total</p>
                    <div class="input-contato input-group">
                        <input type="text" class="form-control" value="R$ 90,00" readonly>
                    </div>
                </div>
            </div>

            <div class="group-buttons">
                <button type="button" class="button-small button-venda">Finalizar venda</button>
                <button type="button" class="button-small button-cancelar">Cancelar</button>
            </div>
        </div>
    </main>
</div>