@{
    ViewData["Title"] = "Nova venda";
}

<div class="main-addproduto">

    <!-- INICIO FORMULARIO -->
        <h1 class="title-system">Nova venda</h1>
        <a class="back-page" href="">
            <div class="icon-p">
                <i class="fa-solid fa-circle-left fa-lg"></i>
                <p class="m-0">Voltar</p>
            </div>
        </a>
    <form>
        <div class="d-flex fundo">
            <div class="container addinputs">
                <div class="group-input-contato"> @*Input = Produto*@
                    <p class="label-estoque">Produto</p>
                    <div class="input-contato input-group">
                    <input type="text" class="form-control" placeholder="Procure o produto aqui" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Forma de pagamento*@
                    <p class="label-estoque">Forma de pagamento</p>
                    <div class="input-contato input-group">
                        <select id="pagamentoVenda" class="form-select m-0" aria-label="Default select example" onchange="adicionarInput()">
                            <option selected>Escolha a forma de pagamento</option>
                            <option value="pagamentoCredito">Cartão de Crédito</option>
                            <option value="2">Cartão de Débito</option>
                            <option value="3">PIX</option>
                            <option value="4">Boleto</option>
                            <option value="5">Dinheiro</option>
                        </select>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Cliente*@
                    <p class="label-estoque">Cliente</p>
                    <div class="input-contato input-group">
                    <input type="text" placeholder="Nome do cliente" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
            </div>

            <div class="container addinputs">
                <div class="group-input-contato"> @*Input = Valor total*@
                    <p class="label-estoque">Valor total</p>
                    <div class="input-contato input-group">
                        <input type="text" placeholder="R$00,00" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Data de venda*@
                    <p class="label-estoque">Data de venda</p>
                    <div class="input-contato input-group">
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Funcionário*@
                    <p class="label-estoque">Funcionário</p>
                    <div class="input-contato input-group">
                    <input type="text" placeholder="Nome do funcionário" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div> 
                
                <div class="d-flex flex-row justify-content-center mt-5">
                    <button type="button" class="button-small-cancel me-2">Limpar</button>
                    <button type="submit" class="button-small-confirm ms-2">Salvar</button>
                </div>
            </div>
            </div>
        </form>
    </div>
    <!-- FIM FORMULARIO -->