@{
    ViewData["Title"] = "Adicionar Pedido";
}

<div class="main-addproduto">

    <!-- INICIO FORMULARIO -->
        <h1 class="title-system">Adicionar Pedido</h1>
        <a class="back-page" href="">
            <div class="icon-p">
                <i class="fa-solid fa-circle-left fa-lg"></i>
                <p class="m-0">Voltar</p>
            </div>
        </a>
    <form>
        <table class="table tabela-pedidos mt-3">
        <thead>
            <tr>
            <th scope="col">
               <input class="form-control input-search" type="search" placeholder="Pesquisar produto" aria-label="Search">
            </th>
            </tr>
        </thead>
        <thead>
            <tr>
            <th scope="col">Nome do produto</th>
            <th scope="col">Marca</th>
            <th scope="col">Qtd</th>
            <th scope="col">Valor</th>
            <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td scope="row">Banana</td>
            <td>CPS</td>
            <td>5</td>
            <td>20</td>
            <td> 
                <button type="button" class="botao-estoque" title="Adicionar quantidade"><i class="fa-solid fa-square-plus fa-xl"></i></button>
                <button type="button" class="botao-estoque" title="Diminuir quantidade"><i class="fa-solid fa-square-minus fa-xl"></i></button>
                <button type="button" class="botao-estoque red-icon-button" title="Excluir pedido"><i class="fa-solid fa-trash fa-xl"></i></button>
            </td>
            </tr>
        </tbody>
        <tfoot>
            <td></td>
            <td></td>
            <td></td>
            <td>Valor total:</td>
            <th>R$00,00</th>
        </tfoot>
        </table>
        <div class="d-flex fundo-addpedidos">

            <div class="container addinputs">
                <div class="group-input-contato"> @*Data pedido*@
                    <p class="label-estoque">Data do pedido</p>
                    <div class="input-contato input-group">
                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Nota fiscal*@
                    <p class="label-estoque">Nota fiscal</p>
                    <div class="input-contato input-group">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>

            <div class="container addinputs">
                <div class="group-input-contato"> @*Input = Data de entrega*@
                    <p class="label-estoque">Data de entrega</p>
                    <div class="input-contato input-group">
                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-center mt-5">
                    <button type="button" class="button-small-cancel me-2">Cancelar</button>
                    <button type="submit" class="button-small-confirm ms-2">Salvar</button>
                </div>
            </div>
            </div>
        </form>
    </div>
    <!-- FIM FORMULARIO -->