<!-- LISTA DE PEDIDOS INÍCIO -->
  <div class="fundo">
        <h6>Pedidos</h6>
        <div class="tabela">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Pedido</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Previsão</th>
                    <th scope="col">D.E.A</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">14588</th>
                        <td>Espelhos e Tomadas</td>
                        <td>Ilumi</td>
                        <td>29/07/2023</td>
                        <td>0</td>
                        <td class="buttons">
                            <a href=""><img src="src/svg/Add.svg" alt=""></a>
                            <a href=""><img src="src/svg/Edit.svg" alt=""></a>
                            <a href=""><img src="src/svg/Alert.svg" alt=""></a>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>